.box {
    width: 500px;
	height: 500px;
	background-color: rgb(186, 209, 219);
	
	position: relative;
	top:0;
    bottom: 0;
	left: 0;
    right: 0;

  	
	margin: auto;
  }

html {
    background-color: rgb(224, 222, 222);
}

.boxTitle {
    font-family: "Helvetica Neue";
    font-weight: bold;
    font-size: 24px;
    border-bottom: thick dotted;
    text-align: center;
}
.boxName {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
}